*  {
    background-color:lightslategray;
    padding: 1px;
    margin: 5px;
    overflow: auto;
}
header  {
    display: flex;
}
.div1,.div2,.div4 {
    padding: 20px;
}
.div3  {
    text-align: center;
}
img  {
    border-radius: 50%;
}
h1 {
    color:lightblue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#str,#i,#m,#s {
    color: goldenrod;
}
h3 {
    color:goldenrod;
    font-style: oblique;
}
h2{
    color:lightblue;
}
.nav > nav > ul > li{
    box-shadow: 2px 2px 5px inset burlywood;
    display: inline-block;
    margin: 20px;
   float:right;
   
}
.nav>nav>ul>li>a{
    color:goldenrod;
    text-decoration:none;
    
}
.nav>nav>ul>li>a:hover  {
    color: lightslategray;
}
span{
    width:100%;
}
.nav>nav>ul>li>a:visited  {
    color:goldenrod;
    text-decoration-style:none;
    
}
.projects>ul>li>a{
    text-decoration: none;
    display: inline-block;
}
.projects>ul>li>a:visited{
    text-decoration: none;
    color:goldenrod;
}
main {
    display: flex;
}
.edu,.cur,.sk,.hob,.job,.my  {
    padding:12px;
}
.pro{
    display: flex;
}
#1,#2,#3,#4{
    padding: 40px;
    
}
.pro > a {
    text-decoration: none;
    color:skyblue;
    box-shadow: 2px 2px 4px inset goldenrod;
    
}


footer  {
    background-color:goldenrod;
}
h3  {
    border-radius: 90%;
    background-color: lightblue;
}
#contact > a{
    text-decoration: none;
    color: goldenrod;
}
i{
    color: skyblue;
}







